:root {
  --portfolio-button: #212121;
  --background-color-comand: #F5F4FA;
  --background-heder: #FFFFFF;
  --logo: #2196F3;
  --logo-second: #212121;
  --header-nav-link: #2196F3;
  --header-item: #212121;
  --header-link: #212121;
  --header-tel: #757575;
  --hero-background-color: #2F303A;
  --hero-title: #FFFFFF;
  --background-future-work-about-portfolio: #E5E5E5;
  --footer-backgr: #2F303A;
  --footer-logo-studia: #FFFFFF;
  --footer-link: rgba(255, 255, 255, 0.6);
  --address: #FFFFFF;
  --current: #2196F3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --button-begr-color: #2196F3;
  --clients-primary-color: #AFB1B8;
  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 3px solid red; */
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(1.2) translate(-50%, -50%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 1;
  transition: opacity 250ms var(--transition-cubic);
}

.modal {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #FFFFFF;
  transition: transform 250ms var(--transition-cubic);
}

.modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  display: inline-block;
  margin-bottom: 12px;
  text-align: center;
  color: #212121;
}

.modal__back-contact {
  display: block;
  top: 0;
}

.modal__contact-thumb {
  margin-bottom: 10px;
}

.modal__contact-title {
  font-size: 12px;
  line-height: 1.17;
  position: relative;
  display: block;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  outline: none;
  transition: border 250ms var(--transition-cubic);
}

.modal__input:focus {
  border: 1px solid #2196F3;
}
.modal__input:focus:focus + .modal__icon {
  fill: #2196F3;
}

.modal__input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__input-wrap {
  position: relative;
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--transition-cubic);
}

.modal__text {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border 250ms var(--transition-cubic);
}
.modal__text:focus {
  border: 1px solid #2196F3;
}

.covenant__link {
  color: #2196F3;
  margin-left: 4px;
}

.covenant__title {
  display: flex;
  justify-content: center;
}

.covenant__title span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  transition: background-color 250ms var(--transition-cubic);
}

.covenant__check-icon {
  fill: transparent;
}

.covenant__checkbox:checked + .covenant__title span {
  background-color: #2196F3;
  border: none;
}

.covenant__checkbox:checked + .covenant__title .covenant__check-icon {
  fill: #FFFFFF;
}

/* .covenant-title::before {
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 5px;
}

.checkbox:checked + .covenant-title::before {
    background-color: #2196F3;
    background-image: url(../images/Vector\ \(1\).svg);
    border: none;
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox:focus + .covenant-title::before {
    border-color: #2196F3;
} */
.covenant__title {
  font-size: 14px;
  line-height: 1.71;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  color: #757575;
}

.button__submit {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  display: block;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  color: #FFFFFF;
  background-color: #2196F3;
  transition: background-color 250ms var(--transition-cubic);
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #FFFFFF;
}

.modal__icon-close {
  position: absolute;
  width: 18px;
  height: 18px;
  transition: fill 250ms var(--transition-cubic);
}
.modal__icon-close:hover, .modal__icon-close:focus {
  fill: #2196F3;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__logo {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: var(--logo);
}

.header__logo-second {
  color: var(--logo-second);
}

.header__nav-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  display: flex;
  letter-spacing: 0.02em;
  color: var(--header-nav-link);
}

.header .container {
  display: flex;
}

.header__list {
  display: flex;
  align-items: center;
  margin-left: auto;
  list-style-type: none;
}

.header__item:not(:first-child) {
  margin-left: 50px;
}

.header__item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  list-style: none;
  letter-spacing: 0.02em;
  color: var(--header-item);
}

.header__icon {
  margin-left: 30px;
  align-items: center;
  vertical-align: middle;
  margin-right: 10px;
  fill: currentColor;
}
.header__icon:hover .header__icon:focus {
  fill: #2196F3;
}

.header__link {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

.header__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  padding: 32px 0;
  align-items: center;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--header-link);
  transition: color 250ms var(--transition-cubic);
}

.current {
  color: var(--current);
}

.header__link:hover,
.header__link:focus,
.header__tel:hover,
.header__tel:focus {
  color: #2196F3;
}

.header__tel {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  padding: 32px 0;
  margin-left: 10px;
  text-decoration: none;
  list-style: none;
  letter-spacing: 0.02em;
  color: var(--header-tel);
  transition: color 250ms var(--transition-cubic);
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background: var(--hero-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/Hero\ back\ \(New\).jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  width: 700px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title);
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    max-width: 360px;
    margin: 0 auto 30px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    max-width: 360px;
    margin: 0 auto 30px;
  }
}

.hero__button {
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  border: transparent;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  font-family: inherit;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.abaut__list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}

.about__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .about__item {
    width: calc((100% - 90px) / 4);
  }
}

.abaut__icons {
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  background: #F5F4FA;
  border-radius: 4px;
}

.about__icon {
  width: 70px;
  height: 70px;
}

.about__title-next {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.about__text {
  font-size: 14px;
  line-height: 1.71;
  display: inline-block;
  margin: bottom 10px;
  color: var(--secondary-text-color);
}

.future {
  display: none;
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .future {
    display: block;
  }
}

.future__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
  color: var(--primary-text-color);
}

.future__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  list-style-type: none;
}

.future__thumb {
  position: relative;
}

.future__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  /* color: tomato */
}

.future__item {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .future__item {
    width: calc((100% - 90px) / 3);
  }
}

.comand {
  background: var(--background-color-comand);
}
@media screen and (min-width: 768px) {
  .comand {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .comand {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.comand__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
  color: var(--primary-text-color);
}

.comand__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.comand__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-heder);
}
@media screen and (min-width: 768px) {
  .comand__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .comand__item {
    width: calc((100% - 90px) / 4);
  }
}

.comand__title-next {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--primary-text-color);
}

.comand__text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.comand__soc-list {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.comand__soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.comand__soc-item:last-child {
  margin-right: 0;
}

.comand__soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  background-color: #FFFFFF;
  transition: fill 250ms var(--transition-cubic), background-color 250ms var(--transition-cubic);
}
.comand__soc-link:hover, .comand__soc-link:focus {
  background-color: #2196F3;
}

.comand__soc-link:hover .comand__soc-icon,
.comand__soc-link:focus .comand__soc-icon {
  fill: #FFFFFF;
}

/* .comand-soc-icon:hover, .comand-soc-icon:focus {
    fill: #FFFFFF;
} */
.comand__soc-icon {
  fill: #AFB1B8;
}

@media screen and (min-width: 768px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  color: var(--primary-text-color);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__list-item {
  /* margin-right: 30px; */
  width: 170px;
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients__list-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__list-item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--clients-primary-color);
  fill: #AFB1B8;
  background-color: #FFFFFF;
  transition: border-color 250ms var(--transition-cubic), fill 250ms var(--transition-cubic);
}
.clients__link:hover, .clients__link:focus {
  fill: #2196F3;
  border-color: #2196F3;
}

.footer {
  padding: 60px 0px;
  background: var(--footer-backgr);
}

.footer__logo {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: var(--logo);
}

.footer__logo-studia {
  font-size: 26px;
  line-height: 1.19;
  color: var(--footer-logo-studia);
}

.footer__address {
  font-family: "Roboto";
  font-style: normal;
  color: var(--address);
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__link-address {
  text-decoration: none;
  color: var(--address);
  transition: link-address 250ms var(--transition-cubic);
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__item {
  font-size: 14px;
  line-height: 1.71;
  color: var(--address);
}

.footer__link {
  text-decoration: none;
  color: var(--footer-link);
  transition: footer-link 250ms var(--transition-cubic);
}

.footer__link:hover,
.footer__link:focus,
.footer__link-address:hover,
.footer__link-address:focus {
  color: #2196F3;
}

.footer__block-addres {
  margin-right: 70px;
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.foot__join {
  margin-right: auto;
}

.foot__join-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.foot__join-list {
  display: inline-flex;
  margin-bottom: 30px;
}

.foot__join-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.foot__join-icon {
  fill: #FFFFFF;
}

.foot__join-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  transition: background-color 250ms var(--transition-cubic);
}
.foot__join-link:hover, .foot__join-link:focus {
  background-color: #2196F3;
}

.foot__subscribe {
  display: block;
  margin-left: auto;
}

.foot__subscribe-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  display: inline-block;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.foot__subscribe-input-mail {
  font-size: 16px;
  line-height: 1.25;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  transition: border-color 250ms var(--transition-cubic);
}
.foot__subscribe-input-mail:focus {
  border-color: #2196F3;
}

.foot__subscribe-input-mail::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.foot__subscribe-form {
  display: flex;
}

.foot__subscribe-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  cursor: pointer;
  width: 200px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  color: #FFFFFF;
  transition: background-color 250ms var(--transition-cubic);
}
.foot__subscribe-button:hover {
  background-color: #2196F3;
}

.foot__subscribe-button-icon {
  margin-left: 10px;
  fill: #FFFFFF;
}

.portfolio__list {
  margin-bottom: 50px;
  justify-content: center;
  display: flex;
  list-style: none;
}

.portfolio__list-button {
  display: flex;
  justify-content: center;
  margin-right: 8px;
  padding: 6px 22px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  font-family: inherit;
  text-align: center;
  border-radius: 4px;
  border: 1px solid var(--button-begr-color);
  border: transparent;
  color: var(--portfolio-button);
  transition: color 250ms var(--transition-cubic), background-color 250ms var(--transition-cubic), box-shadow 250ms var(--transition-cubic);
}
.portfolio__list-button:hover, .portfolio__list-button:focus {
  background: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.work__list-item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
  margin-top: 30px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  list-style: none;
}

.work__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  margin-bottom: 4px;
  text-decoration: none;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.work__text-card {
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.work__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

.work__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms var(--transition-cubic);
}
.work__link:hover, .work__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work__thumb-exsposition {
  position: relative;
  overflow: hidden;
}

.work__text-exposition {
  font-size: 18px;
  line-height: 1.55;
  position: absolute;
  transform: translateY(100%);
  pointer-events: none;
  display: flex;
  padding: 63px 24px;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--transition-cubic);
}

.work__link:hover .work__text-exposition,
.work__link:focus .work__text-exposition {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */