:root {
    --portfolio-button: #212121;
    --background-color-comand: #F5F4FA;
    --background-heder: #FFFFFF;
    --logo: #2196F3;
    --logo-second: #212121;
    --header-nav-link: #2196F3;
    --header-item: #212121;
    --header-link: #212121;
    --header-tel: #757575;
    --hero-background-color: #2F303A;
    --hero-title: #FFFFFF;
    --background-future-work-about-portfolio: #E5E5E5;
    --footer-backgr: #2F303A;
    --footer-logo-studia: #FFFFFF;
    --footer-link: rgba(255, 255, 255, 0.6);
    --address: #FFFFFF;
    --current: #2196F3;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --button-begr-color: #2196F3;
    --clients-primary-color: #AFB1B8;
    --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}